src/**/*
dist/**/*
.editorconfig
.gitignore
.nvmrc
mocha.opts
tslint.json
tsconfig.json
stryker.conf.js
.nyc_output/
.stryker-tmp/
coverage/
reports/
*.tgz
.turbo
turbo.json
.github
.changeset
.prettier*
*.config.js
*.tgz
api-extractor.json
renovate.json
temp/
