version: 2.1

orbs:
  node: circleci/node@5

jobs:
  ci:
    parameters:
      node-version:
        type: string
      update_npm:
        description: "Whether to update npm to at least npm 7.x"
        default: false
        type: boolean
    executor:
      name: node/default
      tag: << parameters.node-version >>
    working_directory: /mnt/ramdisk
    steps:
      - checkout
      - when:
          condition:
            equal: [true, << parameters.update_npm >>]
          steps:
            - run: sudo npm install -g npm@7
      - run: npm install
      - run: npm run build
      - run: npm test
      - run: npm run codecov-report
  stryker:
    executor:
      name: node/default
      tag: '16.13'
    working_directory: /mnt/ramdisk
    steps:
      - checkout
      - run: npm install
      - run: npm run build
      - run: npx --no-install stryker --concurrency 2 run
      - store_artifacts:
          path: packages/generic-type-guard/reports/mutation/html
          destination: stryker-generic-type-guard

workflows:
  version: 2
  ci:
    jobs:
      - ci:
          name: fermium
          node-version: '14.18'
          update_npm: true
      - ci:
          name: gallium
          node-version: '16.13'
      - stryker
